body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 900px;
    height: 300px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.container div{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 300px;
    height: 300px;
}

.card-4 {
    background-color: lightblue;
}

.card-5 {
    background-color: orange;
}

.card-6 {
    background-color: hotpink;
}

.card-7 {
    background-color: crimson; 
}